<form action="/profile/{{username}}" method="post" style="margin-top: 30px;" enctype="multipart/form-data">
  <div class="form-group">
    <label for="exampleFormControlFile1"></label>
    <input type="file" class="form-control-file" name="avatar" id="exampleFormControlFile1">
    <button class="btn btn-outline-dark" type="submit">Загрузить аватарку</button>
  </div>
</form> 
